<!DOCTYPE html>
<p lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{item.name}}</title>
<style >
    #menu {
        float:left;
        background-color : black;
    }
    .nav {

        display:inline;
        float:left;
        margin:0;

    }

</style>
</head>
    <body>
<div id="menu">
						<ul class="nav navbar-nav navbar-right">
							  <li><a href="http://localhost:8000/buy">Home</a></li>
							  <li><a href="http://localhost:8000/admin">Admin</a></li>
						</ul>
					</div>
<br>
{% if item %}
<h1>Item Detail</h1>
<p>
<ul>
    <li>Name: {{item.name}}</li>
    <li>Quantity: {{item.quan}}</li>
    <li>Rate: {{item.rate}}</li>
    <li>latest date purchased: {{item.date}}</li>
    <li>sold : {{item.status}}</li>
</ul>
</p>
{% endif %}

</body>
</html>