<!DOCTYPE html>
<p lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{item.name}}</title>
<style >
    #menu{
        list-style:none;
        text-decoration: none;
        color:white;
        margin:auto;
    }
    .nav li{
        padding: 10px;
        display:inline;
        float:left;

    }
    .nav li a {
        text-decoration:none;
        color:grey;


    }

    #detail li {
        list-style:none;
        text-align:left;
        font-size : 22px;
    }

</style>
</head>
    <body>
<div id="menu">
						<ul class="nav">
							  <li><a href="http://localhost:8000/buy">Home</a></li>
							  <li><a href="http://localhost:8000/admin">Admin</a></li>
						</ul>
					</div>
<br>
{% if item %}
<div style="text-align:center;background:red;">
    <h1 >Item Detail</h1>
<div style="text-align:justify;background-color:black;color:white;" >
<ul id = 'detail'>
    <li>Name: {{item.name}}</li>
    <li>Quantity: {{item.quan}}</li>
    <li>Rate: {{item.rate}}</li>
    <li>Latest date purchased: {{item.date}}</li>
    <li>Sold : {%  if item.status == True %} Yes {% else %} No{%endif%}</li>
</ul>

</div>
{% endif %}

</div>
</body>
</html>